[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org-simple"

[packages]
sigstore = "*"
pydantic = "*"
cryptography = "*"
requests = "*"
hvac = "*"
asn1crypto = "*"

[dev-packages]

[requires]
python_version = "3.10"
